NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
NEXT_PUBLIC_ALLOWED_EMAIL_1=your_email@example.com
NEXT_PUBLIC_ALLOWED_EMAIL_2=her_email@example.com
NEXT_PUBLIC_YOUR_NAME=Ayush
NEXT_PUBLIC_HER_NAME=Her
